src/main/app/behavior-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="behavior-good-implFlow">
        <logger message="Entered #[flow.name]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="85b2cf6f-99cd-430a-937b-6524e6c5240f">
            <dw:input-payload doc:sample="sample_data/json_1.json"/>
            <dw:input-variable doc:sample="sample_data/map_string_string.dwl" variableName="userid"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json


%var uid = inboundProperties.'http.uri.params'.id
// flowVars.userid
---
payload ++ "userid": uid ]]></dw:set-payload>
        </dw:transform-message>
        <amqp:outbound-endpoint queueName="behavior" responseTimeout="10000" exchange-pattern="request-response" doc:name="AMQP-0-9 Drop message on behavior queue"/>
    </flow>
</mule>
